<% if (title) { %>
<h1 id="t1"><%= title %></h1> <h2 id="t2">Welcome <%= fname %></h2>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p id="t3"><a href="/account/menu">Update account information</a></p>

<% if (type === "Admin" || type === "Employee") { %>
  <h3 id="t4">Inventory Management</h3>

  <p id="t5"><a href="/inv">Click to access Inventory Management</a></p>

<%  } %>
