<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (user) { %>
      <a href="/account/"><%= user %></a>
    <% } %>
    <a id="spa1" title="Click to log in" href=<%= statusUrl %>><%= status %></a>
  </div>
</header>