<h1>Inventory Management</h1>
<%- messages() %>
<nav>
    <ul class="inventory">
        <li><a href="/inv/classification">Add New Classification</a></li>
        <li><a href="/inv/vehicle">Add New Inventory</a></li>
    </ul>
</nav>
