<h1>Vehicle Management</h1>
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<nav>
    <ul class="inventory">
        <li><a href="/inv/classification">Add New Classification</a></li>
        <li><a href="/inv/vehicle">Add New Inventory</a></li>
    </ul>
</nav>
<div class="mangmnt">
    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items</p>

    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>


